main {
	flex: 1;
}

main ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	list-style: none;
}

li.dev-item {
	background: #fff;
	box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 30px;
	border-radius: 2px;
}

.lightMode li {
	color: rgb(255, 255, 255);
	background: #fff;
}

.darkMode li {
	color: rgb(41, 40, 40);
	background: rgb(41, 40, 40);
}

li.dev-item header {
}

li.dev-item header img {
	float: left;
	margin-right: 20px;
	width: 54px;
	height: 54px;
	border-radius: 50%;
}

li.dev-item header .userInfo {
	margin-left: 10px;
}

.userInfo strong {
	display: block;
	font-size: 16px;
	line-height: 20px;
}

.darkMode strong {
	color: white;
}

.lightMode strong {
	color: rgb(0, 0, 0);
}

.userInfo span {
	font-size: 13px;
	color: #999;
	margin-top: 2px;
}

.dev-item p {
	color: #666;
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

.dev-item a {
	color: rgb(79, 4, 141);
	font-size: 14px;
	text-decoration: none;
}

.darkMode a {
	color: rgb(137, 46, 211);
	font-size: 14px;
	text-decoration: none;
}

.dev-item a:hover {
	color: rgb(132, 30, 216);
}

@media (max-width: 650px) {
	main ul {
		grid-template-columns: 1fr;
	}
}
